* {
  margin: 0;
  padding: 0;
}
/* body {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 900;
  font-style: normal;
} */
header {
  background-color: rgb(243, 172, 109);
  width: 100vw;
  height: 30vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.HFcontainer {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Hcontainer {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Planebox {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4vw;
  margin-top: 2vw;
}
.fa-plane-departure {
  font-size: 25px;
  color: white;
  margin-right: 20px;
}

.planename {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 900;
  color: white;
}
.Buttonbox {
  width: 15vw;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2vw;
  margin-right: 4vw;
}
.buttoncover {
  width: 70px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
}
.fa-heart,
.fa-bars,
.fa-earth-asia {
  color: white;
}
.menubox {
  width: 200px;
  height: 200px;
  background-color: aqua;
  z-index: 1000;
  position: fixed;
}
.hidden {
  display: none;
}
.buttoncover:hover {
  background-color: rgba(214, 214, 214, 0.6);
}
.Fcontainer {
  width: 75vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textbox {
  display: flex;
  width: 75vw;
  height: 20vh;
  justify-content: space-between;
  align-items: end;
}
.Inputtext {
  width: 65vw;
  height: 50px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 25px;
}
.Inputtext:hover {
  box-shadow: 5px 2px 20px rgb(239, 232, 225);
}
.Inputbutton {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 800;
  background-color: rgb(234, 230, 230);
}
.Inputbuttonbox {
  width: 10vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Inputbutton:active {
  background-color: rgb(247, 190, 140);
}
.Inputbutton:hover {
  background-color: rgb(185, 185, 185);

  box-shadow: 5px 2px 20px rgba(227, 223, 219, 0.765);
}
main {
  margin-top: 30vh;
  width: 100vw;
  min-height: 90vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mapcontainer {
  width: 90vw;
  height: 90vh;
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.options {
  width: 75vw;
  height: 15vh;
  background-color: brown;
  z-index: 1000;
  display: flex;
  justify-content: start;
  align-items: center;
}
.option {
  background-color: aquamarine;
  width: 40vw;
  height: 15vh;
  display: flex;
  align-items: center;
  gap: 0px 15px;
}
.buton,
.Wbuton,
.Cbuton {
  background-color: rgb(255, 255, 255);
  height: 40px;
  border: solid rgb(182, 182, 182);
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buton:hover,
.Wbuton:hover,
.Cbuton:hover {
  border-color: rgb(87, 86, 86);
}
.dataBox1 {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}
.dataBox2 {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}
.clickButton {
  background-color: black;
  color: aliceblue;
}
.box {
  background-color: blue;
  width: 75vw;
  height: 80vh;
}
.dataBox {
  background-color: aquamarine;
  width: 450px;
  height: 300px;
}
.newBox {
  width: 100px;
  height: 100px;
  background-color: beige;
}
footer {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 172, 109);
}
address {
  width: 80vw;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  color: rgb(255, 255, 255);
}
@media all and (max-width: 768px) {
  main {
    margin: 0;
    padding: 0;
    margin-top: 150px;
  }
  header {
    height: 150px;
  }
  .Buttonbox {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15px;
  }
  .buttoncover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 40px;
    height: 50px;
    font-size: 20px;
  }
  .Planebox {
    width: 130px;
  }
  .fa-plane-departure {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .planename {
    width: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .HFcontainer {
    height: 130px;
  }
  .Fcontainer {
    width: 370px;
  }
  .Inputtext {
    width: 230px;
    height: 40px;
  }
  .Inputbuttonbox {
    width: 100px;
    height: 100px;
  }

  .Inputbutton {
    width: 40px;
    height: 40px;
    font-size: 10px;
  }
  .textbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
